.photo-grid {
    padding: 0 48px 92px 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, min-content));
    grid-template-rows: repeat(auto-fit, minmax(213px, min-content));
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}

@media screen and (max-width: 1140px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
        grid-template-rows: repeat(auto-fit, minmax(225px, max-content));
        gap: 14px;
    }
}

@media screen and (max-width: 840px) {
    .photo-grid {
        padding: 0 24px 88px 24px;
        grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
        grid-template-rows: repeat(auto-fit, minmax(264px, max-content));
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        padding: 0 16px 64px 16px;
        grid-template-columns: repeat(auto-fit, minmax(288px, min-content));
        grid-template-rows: repeat(auto-fit, minmax(216px, min-content));
        row-gap: 12px;
    }
}

