.cover__title {
    font-family: 'Inter-Black', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    max-width: 560px;
    z-index: 2;
    color: #FFFFFF;
}

@media screen and (max-width: 568px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
        max-width: 288px;
    }
  }